<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mapper.UserMapper">
    <insert id="addUser" parameterType="com.fly.pojo.User">
        insert into music.user (user_id,user_name,user_password)
        values (#{user_id},#{user_name},#{user_password})
    </insert>
    <update id="updateUserById" parameterType="com.fly.pojo.User">
        update music.user set user_name=#{user_name},user_password=#{user_password} where user_id=#{user_id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        delete from user where user_id=#{id}
    </delete>
    <select id="selectUserById" parameterType="int" resultType="com.fly.pojo.User">
        select * from user where user_id=#{id}
    </select>
    <select id="selectAllUser" resultType="com.fly.pojo.User">
        select * from music.user
    </select>
    <select id="QueryUserByName" resultType="com.fly.pojo.User">
        select * from music.user where user_name LIKE "%"#{user_name}"%"
    </select>
    <select id="selectUserPage" parameterType="Map" resultType="com.fly.pojo.User">
        select * from music.user
        <if test="user_name!=null">
            where user_name LIKE "%"#{user_name}"%"
        </if>
        <if test="start!=null and pagesize!=null">
            limit #{start},#{pagesize}
        </if>
    </select>
    <select id="selectUserByName" parameterType="String" resultType="com.fly.pojo.User">
        select * from music.user where user_name=#{user_name}
    </select>
</mapper>